---
layout: default
---
<div class="post-wrapper">
	<div>
		<article class="post container">
			<h1 class="post-title">{{ page.title }}</h1>
			<div class="post-meta">
				<span class="post-meta-span date">{{ page.date | date: "%Y-%m-%d %H:%M" }}</span>
				{% if page.tags.size > 0 %}
				<span class="post-meta-span tag">{{ page.tags | join: ', ' }}</span>
				{% endif %}
			</div>

			{{ content }}
		</article>
	</div>

	<div class="post-share">
		<div class="container">
			<a href="https://twitter.com/share?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&text={{ page.title }}" target="_blank" class="post-share-icon twitter"></a>
			<a href="https://www.evernote.com/clip.action?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}" target="_blank" class="post-share-icon evernote"></a>
			<a href="http://service.weibo.com/share/share.php?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}" target="_blank" class="post-share-icon weibo"></a>
		</div>
	</div>

	{% if site.disqus_shortname %}
	<div class="comment container">
		<div id="disqus_thread">
			<a href=""></a>
		</div>
	</div>
	{% endif %}

	{% if site.use_gitalk %}
		<!-- Gitalk begin -->
		<!-- Link Gitalk 的支持文件  -->
		<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
		<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
		<div id="gitalk-container"></div>
		<script type="text/javascript">
			var gitalk = new Gitalk({
				// gitalk的主要参数
				clientID: 'ff084d5b44a48714aa3e',
				clientSecret: '2aee7afd2477c4cd3379d160bd965e278bb0c3b2',
				repo: '4marxism.github.io',
				owner: '4marxism',
				admin: ['xspurs', 'fuckdxx'],
				id: window.location.pathname,
			});
			gitalk.render('gitalk-container');
		</script> 
		<!-- Gitalk end -->
	{% endif %}
</div>
